.wrapper {
  width: 280px;
  border: 1px solid rgb(231, 236, 241);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  height: 106px;
  padding: 0px 30px;

  &:hover {
    background: #f8fafb;
  }
  a {
    text-decoration: none;

    h3 {
      justify-content: center;
      color: rgb(108, 122, 140);
      font-size: 15px;
      font-weight: normal;
      margin: 0px 0px 6px;
    }
    div > :first-child {
      color: rgb(47, 63, 84);
      font-size: 30px;
      padding-right: 6px;
    }

    span:nth-child(even) {
      color: rgb(204, 204, 204);
      font-size: 16px;
      // margin-left: 2px;
    }
  }
}
