.container {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 6px;
  font-size: 14px;
  color: rgb(47, 63, 84);
  margin-left: 5px;
  &:hover {
    cursor: pointer;
    background: rgb(242, 245, 249);
  }
}
