.base {
  // border-bottom: 1px solid red;
  // border-bottom: 1px solid rgb(242, 245, 249);
}
.text {
  &:hover {
    color: rgb(46, 127, 213);
  }
}
.line {
  border-bottom: 1px solid red;
}
.defaultText {
  color: rgb(47, 63, 84);
  display: flex;
  cursor: pointer;
  align-items: center;
  min-height: 40px;
  font-size: 15px;
  padding: 12px 12px 12px 16px;
  border-radius: 5px;
}

.item {
  @extend .defaultText;
  justify-content: space-between;
  cursor: pointer;
  margin: 0 8px;
  // border-bottom: 1px solid red;
}

.options_container {
  padding: 0 8px;
  // margin: 10px 0px;
}
.option {
  display: flex;
  align-items: center;
  &:hover {
    color: rgb(46, 127, 213) !important;
    border-radius: 6px;
    background-color: rgb(242, 245, 249);
  }
  // border: 1px solid red;
  p {
    @extend .defaultText;
    padding-left: 24px;
    text-decoration: none;
    margin: 0;
  }
}

.active {
  color: rgb(46, 127, 213) !important;
  font-weight: bold !important;
  // background-color: rgb(242, 245, 249);
}

.active_child {
  color: rgb(46, 127, 213) !important;
  border-radius: 6px;
  background-color: rgb(242, 245, 249);
}
.achorColor {
  color: #2f3f54;
}
.heading {
  &:hover {
    color: rgb(46, 127, 213);
  }
}
