.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 22px;
  border-bottom: thin solid rgb(242, 245, 249);
  & :first-child {
    color: rgb(47, 63, 84);
    font-size: 17px;
    font-weight: bold;
  }
}

.account {
  padding: 30px 20px;
}
.content {
  padding: 25px 20px 10px 20px;
}
.detail {
  border-radius: 10px;
  background: rgb(242, 245, 249);
  // padding: 20px;
  .inputMainDiv {
    display: flex;
    .labelDiv {
      width: 200px;
      margin-right: 10px;
      label {
        font-weight: bold;
        font-size: 14px;
        display: block;
        text-align: right;
      }
    }
    .inputDiv {
      flex: 1;
      p {
        font-size: 13px;
        margin-top: 5px;
        color: rgb(108, 122, 140);
      }
      input {
        outline: 0px;
        font-size: 15px;
        // line-height: 1.6;
        padding: 5px 10px;
        border-radius: 6px;
        // transition: box-shadow 0.1s ease 0s;
        max-width: 400px;
        width: 100%;

        border: 1px solid rgb(231, 236, 241);
        background-color: rgb(255, 255, 255);
      }
      select {
        appearance: none;
        outline: 0px;
        border: 1px solid rgb(231, 236, 241);
        font-size: 15px;
        line-height: 1.6;
        padding: 5px 50px 5px 10px;
        border-radius: 6px;
        transition: box-shadow 0.1s ease 0s;
        width: 100%;
        max-width: 400px;
      }
    }
  }
}
.btnTop {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  margin-top: 10px;
  border-top: thin solid rgb(231, 236, 241);
}
.btn {
  border-radius: 6px;
  padding: 10.5px 20px;
  max-width: 100px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  background: rgb(46, 127, 213);
  border: thin solid rgb(46, 127, 213);
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1;
  font-size: 15px;
}
.link {
  margin-top: 15px;
  a {
    text-decoration: none !important;
    font-size: 14px;
  }
}
