.main {
  padding: 0 30px;
  @media (max-width: 600px) {
    padding: 0;
  }
  p {
    text-align: center;
    font-size: 20px;
    color: #000000;
    margin-bottom: 0;
  }

  .ul {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    li {
      background: #1da1f3;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      @media (max-width: 310px) {
        padding: 10px 10px;
      }
      cursor: pointer;
      &:nth-of-type(2) {
        margin-left: 50px;
        @media (max-width: 400px) {
          margin-left: 20px;
        }
        @media (max-width: 310px) {
          margin-left: 10px;
        }
      }
    }
    .activeTab {
      color: #989898;
      background: #e8e8e8;
    }
  }
  .bar {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
    background: #f6f6f6;
    p {
      color: #37383c;
      font-size: 25px;
      @media (max-width: 800px) {
        font-size: 20px;
      }
      @media (max-width: 600px) {
        font-size: 15px;
      }
    }
    img {
      margin-left: 10px;
      cursor: pointer;
      position: relative;
      top: 8px;
    }
  }
}
form {
  .field {
    margin-top: 25px;
    & select {
      height: 38px;
    }
    & input {
      height: 38px;
    }
  }
  .attachmentDiv {
    margin-top: 25px;
    width: 100%;
    & .label1 {
      text-align: left;
      margin-bottom: 5px;
      text-transform: capitalize;
      display: block;
      color: rgb(70, 70, 70);
      font-weight: 500 !important;
      font-size: 16px;
    }

    & .uploadBtn {
      text-align: center;
      display: block;
      padding: 6px 40px;
      height: 38px !important;
      color: rgb(70, 70, 70);
      border: 1px solid rgb(196, 196, 196);
      font-size: 16px;
      background-color: transparent;
      border-radius: 5px;

      cursor: pointer;
    }
  }
  .btn {
    height: 37px !important;
  }
}
