.profileMain {
  background-image: url(../../assets/images/profile-bg.png);
  padding: 80px 30px 84px;
  margin-bottom: 45px;
  position: relative;
  .profileInfo {
    position: relative;
    display: flex;
    align-items: center;
    grid-gap: 20px;
    h3 {
      margin-bottom: 0;
      color: white;
    }
    .profileImg {
      position: relative;
      img {
        width: 115px;
        height: 115px;
        border-radius: 50%;
      }
    }
  }
  .timeline {
    position: absolute;
    background-color: white;
    left: 0;
    box-shadow: 0 2px 6px rgb(0 0 0 / 16%);
    right: 0;
    width: 85%;
    margin: 0 auto;
    border-radius: 5px;
    bottom: -40px;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      grid-gap: 15px;
      li {
        display: inline-block;
        text-align: center;
        flex: 1;
        padding: 15px;
        p {
          margin-bottom: 0;
        }
        .timeIcon {
          padding: 5px;
          margin-bottom: 5px;
          img {
            height: 27px;
          }
        }
      }
    }
  }
}
